<div class="row">
  <div class="large-10 large-centered columns">
    <div class="alert-box alert round">
      <% errors.each do |field, message| %>
        <p class='flash-text'><%= field %> - <%= message[0] %></p>
      <% end %>
    </div>
  </div>
</div>