<h1 class="page_header_text">Place Orders</h1>
<table>
  <thead>
    <th>Suppliers</th>
  </thead>
  <% @suppliers.each do |supplier| %>
    <tr>
      <td><%= link_to supplier.name, supplier_orders_path(supplier) %></td>
    </tr>
  <% end %>
</table>