.top-bar-section ul{
  background-color:#000;
  color: #fff;
}
.header-welcome-text{
  margin: 10px;
}
p{
  margin: 0px;
}
h1.page_header{
  text-align: center;
}
.hidden{
  display: none;
}
.flash-text{
  text-align: center;
}
table{
  width: 100%;
}