<h1>Edit Product</h1>
<%= form_for @product, :url => supplier_product_path(@supplier, @product), :method => :put do |f| %>
  <%= f.text_field 'name', :placeholder => 'Product Name' %>
  <%= f.submit 'Update Product', :class => 'button' %>
<% end %>