<table>
  <thead>
    <tr>
      <th>Products</th>
    </tr>
  </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
      </tr>
    <% end %>
</table>

<table>
  <thead>
    <tr>
      <th colspan="2">Order / Delivery Days</th>
    </tr>
  </thead>
    <% @order_days.each do |order_day| %>
      <tr>
        <td><%= order_day.day %></td>
        <td><%= order_day.duration %></td>
      </tr>
    <% end %>
</table>
<%= link_to "edit supplier", edit_company_supplier_path(@company, @supplier), :class => 'button' %>
